@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&family=Julius+Sans+One&family=Lato&family=Roboto&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Major+Mono+Display&family=Sacramento&display=swap');

*/ * {
   margin: 0;
   padding: 0;
}

body {
   font-family: "Lato", Helvetica, Arial, sans-serif;
   line-height: 1.7;
   color: var(--body);
}

h1,
h2,
h4,
h5,
h6,
.display-4 {
   color: var(--dark);
   font-weight: 700;
}

h4 {
   text-transform: capitalize;
}

a {
   color: var(--primary);
   text-decoration: none;
}

*/ img {
   width: 100%;
}

.logo {
   width: 150px;
}

.nav-link {
   font-family: "Lato", Helvetica, Arial, sans-serif;
   color: #8AB6D6;
   font-size: 15px;
   font-weight: 600;
   text-transform: uppercase;
}

.nav-link:hover {
   color: #fff;
}

.hero {
   background-image: url("img/bg1.jpg");
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
   position: relative;
   z-index: 2;
}

.hero::after {
   content: "";
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   background-color: rgba(206, 205, 221, 0.2);
   z-index: -1;
}

.heading {
   font-family: 'Baloo Thambi 2', cursive;
   text-transform: uppercase;
   font-size: 25px;
   font-weight: 700;
}

.sub-heading {
   font-family: fantasy, monospace;

}

.quote {
   color: #B5DEFF;
   font-weight: 700;
}

.quote-text {
   font-family: 'Julius Sans One', sans-serif;
   font-weight: 900;
}

.quote-author {
   font-family: 'Alegreya Sans SC', sans-serif;
}

section {
   padding-top: 120px;
   padding-bottom: 120px;
}

.card-effect {
   box-shadow: var(--box-shadow);
   background-color: #fff;
   padding: 25px;
   transition: all 0.35s ease;
}

.card-effect:hover {
   box-shadow: none;
   transform: translateY(5px);
}

.iconbox {
   width: 54px;
   height: 54px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: var(--primary);
   color: #fff;
   font-size: 32px;
   border-radius: 100px;
   flex: none;
}

.district {
   position: relative;
   width: 100%;
   height: 300px;
   z-index: 2;
   overflow: hidden;
}

.district h5 {
   font-weight: 600;
   color: #fff;
}

.district a {
   text-decoration: none;
}

.district::after {
   content: '';
   width: 100%;
   height: 100%;
   position: absolute;
   top: -100%;
   left: 0;
   background-color: #1F1D36;
   z-index: -1;
   opacity: 0;
   transition: all 0.4s ease;
}


.district:hover .iconbox {
   background-color: #fff;
   color: var(--primary);
}


.district:hover h5,
.district:hover p {
   color: #fff;
}

.district:hover::after {
   opacity: 1;
   top: 0;
}

.district .district-bio {

   opacity: 0;
}

.district:hover .district-bio {
   opacity: 1;
}

#kasargod {
   background-image: url("img/kasargod.jpg");
   .destination {
    width: 100%;
    height: 350px;
    position: relative;
    overflow: hidden;
}

.destination .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(21, 20, 51, 0.2);
    padding: 30px;
    display: flex;
    align-items: flex-end;
    transition: all 0.4s ease;
    opacity: 0;
}

.destination img {
    transition: all 0.4s ease;
    min-height: 350px;

}

.destination:hover .overlay {
    opacity: 1;
}

.destination:hover img {
    transform: scale(1.1);
}
   background-position: center;
   background-size: cover;
}

#kannur {
   background-image: url("img/kannur.jpg");
   background-position: center;
   background-size: cover;
}

#kozhikode {
   background-image: url("img/kozhikode.jpg");
   background-position: center;
   background-size: cover;
}

#wayanad {
   background-image: url("img/wayanad.jpg");
   background-position: center;
   background-size: cover;
}

#malapuram {
   background-image: url("img/malappuram.jpg");
   background-position: center;
   background-size: cover;
}

#palakkad {
   background-image: url("img/palakkad.jpg");
   background-position: center;
   background-size: cover;
}

#thrissur {
   background-image: url("img/thrissur.jpg");
   background-position: center;
   background-size: cover;
}

#ernakulam {
   background-image: url("img/ernakulam.jpg");
   background-position: center;
   background-size: cover;
}

#idukki {
   background-image: url("img/idukki.jpg");
   background-position: center;
   background-size: cover;
}

#pathanamthitta {
   background-image: url("img/pathanamthitta.jpg");
   background-position: center;
   background-size: cover;
}

#kottayam {
   background-image: url("img/kottayam.jpg");
   background-position: center;
   background-size: cover;
}

#alappuzha {
   background-image: url("img/alapuzha.jpg");
   background-position: center;
   background-size: cover;
}

#kollam {
   background-image: url("img/kollam.jpg");
   background-position: center;
   background-size: cover;
}

#thiruvananthapuram {
   background-image: url("img/thiruvananthapuram.jpg");
   background-position: center;
   background-size: cover;
}

.footer-top {
   padding-top: 90px;
   padding: 90px;
   background-color: var(--dark);

}

.footer-top a {
   color: var(--body);

}

.footer-top a:hover {
   color: rgb(240, 59, 59);

}

.footer-bottom {
   background-color: var(--dark);
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

.syam{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 400px;
    background: white;
    border-radius: 10px;
    background: linear-gradient(120deg,#2980b9,#8e44ad);
}
.syam h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}
.syam form{
    padding: 0 40px;
    box-sizing: border-box
}
form .txt_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}
.txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}
.txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
}
.txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #2691d9;
    transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
    top: -5px;
    color: #2691d9;
}
.txt_field input:focus ~ label ~ span::before,
.txt_field input:valid ~ label ~ span::before{
    width: 100%;
}
.pass{
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
}
.pass:hover{
    text-decoration: underline;
}
.njan{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}
.njan:hover{
    border-color: #2691d9;
    transition: .5s;
}
.signup_link{
    margin: 30px;
    text-align: center;
    font-size: 16px;
    color: #666666;
}
.signup_link a{
    color: #2691d9;
    text-decoration: none;
}
.signup_link a:hover{
    text-decoration: underline;
}

.container007{
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}
.container007 .title007{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.container007 .title007::before{
    content: '';
    position: absolute;
    height: 3px;
    width: 30px;
    left: 0;
    bottom: 0;
    background: linear-gradient(#71b7e6,#9b59b6);
}
.container007 form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}
form .user-details .input-box{
    width: calc(100%/2 - 20px);
    margin-bottom: 5px;
}
.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #9b59b6;
}
form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
}
form .gender-details .category{
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}
.gender-details .category label{
    display: flex;
    align-items: center;
}
.gender-details .category .dot{
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-left: 10px;
    border: 5px solid transparent;
}
#dot-1:checked ~ .category .one,
#dot-2:checked ~ .category .two,
#dot-3:checked ~ .category .three{
    border-color: d9d9d9;
    background: #9b59b6;
}
form input[type="radio"]{
    display: none;
}
form .button{
    height: 45px;
    margin: 45px 0;
}
form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #71b7e6,#9b59b6);
}
form .button input:hover{
    background: linear-gradient(135deg, #71b7e6,#9b59b6);
}
@media  (max-width: 584px){
    .container007{
        max-width: 100%;
    }
    form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }
    form .gender-details .category{
        display: flex;
        width: 100%;
    }
    .container007 form .user-details{
        max-width: 300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
        width: 0%;
    }
}
